@charset "UTF-8";



:root{ /* Paleta de cores */
    --Rosa-escuro1: #F23D5E;
    --Rosa-claro2: #F27E93;
    --Azul: #80D2F2;
    --Rosa-mais-claro: #F2A7A7;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  background-color: var(--Rosa-escuro1);
}